* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #fff;
  font-family: sans-serif;
}

body {
  background: #111;
}

#root {
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

button {
  padding: 0.25rem 0.5rem;
}

.episodes ol {
  list-style: none;
}

.episodes li {
  padding: 0.5rem;
}

.episodes li:hover,
.episodes li.selected {
  background: #333;
  cursor: pointer;
}

.episodes li:not(:last-child) {
  border-bottom: 1px solid #333;
}

.episode-details {
  display: flex;
  flex-direction: column;
  gap: 1ch;
}

.shows {
  display: flex;
}

.show {
  padding: 0 1ch;
}

.show:not(:last-child) {
  border-right: 1px solid white;
}

.show:hover,
.show.selected {
  cursor: pointer;
  text-decoration: underline;
}

.show-details {
  display: grid;
  gap: 1rem;
}

@media (width >= 500px) {
  .show-details {
    grid-template-columns: minmax(30ch, auto) 1fr;
  }
}